@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

:root {
	--background: #0a0a0a;
	--foreground: #fafafa;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: var(--background);
	color: var(--foreground);
}
